* {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  aside,
  nav,
  footer,
  header,
  section {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    min-width: 320px;
  }
  
  input,
  button,
  textarea {
    font-family: "Poppins";
  }
  
  input::-ms-clear {
    display: none;
  }
  input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

    input[type='number'],
    input[type="number"]:hover,
    input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .container {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #fff;
    background: #333;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.input {
    font-family: 'Poppins', sans-serif;
    width: 250px;
    min-height: 36px;
    outline: none;
    border-radius: 10px;
    line-height: 36px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2;
    margin-right: 10px;
}